/* line 1, ../sass/app.sass */
body {
  color: #EEE;
  background: #2C3E50;
  padding: 16px 30px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 6, ../sass/app.sass */
header {
  background: #34495E;
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 30px;
}
/* line 12, ../sass/app.sass */
header h1 {
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 18, ../sass/app.sass */
header h4 {
  position: relative;
  top: 70%;
  text-align: center;
}

/* line 22, ../sass/app.sass */
h3 {
  text-align: center;
  margin: 0;
  background-color: #34495E;
  font-family: Georgia;
  height: 51px;
  line-height: 51px;
}

/* line 29, ../sass/app.sass */
#favFood {
  background-color: #395168;
}
/* line 31, ../sass/app.sass */
#favFood th, #favFood td {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #1ABC9C;
}
/* line 35, ../sass/app.sass */
#favFood th .btn-success, #favFood td .btn-success {
  background-color: #1ABC9C;
  border-color: #117D68;
}
/* line 38, ../sass/app.sass */
#favFood th .btn-success:hover, #favFood td .btn-success:hover {
  background-color: #16A589;
  border-color: #16A589;
  border-bottom: 3px solid #083C32;
}

/* line 42, ../sass/app.sass */
#addFood {
  background-color: #395168;
}
/* line 44, ../sass/app.sass */
#addFood section {
  text-align: center;
  padding: 30px 0;
}
/* line 47, ../sass/app.sass */
#addFood section .form-group {
  margin: 0 20px 0 20px;
}
/* line 49, ../sass/app.sass */
#addFood section .form-group input {
  width: 500px;
}
/* line 51, ../sass/app.sass */
#addFood .license {
  text-align: center;
}
