ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.date-picker{
    position: relative;
    height: 32px;
}
.input-wrapper{
    // border: 1px solid #ccc;
    // border-radius: 2px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    // padding: 6px 10px 6px 4px;
    // height: 32px;
    // box-sizing: border-box;

    @extend %input-block-level;
    @include border-radius(3px);
    border: 1px solid #dbdbdb;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1em;
    padding: 0 0.75em;
    @include box-shadow(inset 0 1px 2px rgba(10, 10, 10, 0.1));
    &:active, &:focus{
      outline-style: none;
      border: 1px solid turquoise;
      @include box-shadow(inset 0 1px 2px turquoise);
    }
}
.input{
    height: 100%;
    width: 100%;
    font-size: inherit;
    padding-left: 4px;
    box-sizing: border-box;
    outline: none;
}
.cancel-btn{
    height: 14px;
    width: 14px;
}
.date-panel{
    position: absolute;
    z-index: 5000;
    border: 1px solid #eee;
    box-sizing: border-box;
    width: 320px;
    padding: 5px 10px 10px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateY(4px);
}
.panel-header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.arrow-left, .arrow-right{
    flex: 1;
    font-size: 20px;
    line-height: 2;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.arrow-disable {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.1);
}
.year-range{
    font-size: 20px;
    line-height: 2;
    flex: 3;
    display: flex;
    justify-content: center;
}
.year-month-box{
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.type-year, .type-month, .date-list{
    background-color: #fff;
}
.year-box, .month-box{
    transition: all ease .1s;
    font-family: Roboto, sans-serif;
    flex: 1;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    cursor: pointer;
    background-color: #fff;
    &:hover{
        background-color: scale-lightness($themecolor, 20%);
        @include border-radius(25px);
    }
}
.year-list, .month-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li{
        font-family: Roboto, sans-serif;
        transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        width: 33%;
        padding: 10px 0;
        &:hover{
            background-color: scale-lightness($themecolor, 20%);
            @include border-radius(25px);
            color: #fff;
        }
        &.selected{
            // background-color: #0097a7;
            background-color: $themecolor;
            color: #fff;
        }
        &.invalid{
            cursor: not-allowed;
            color: #ccc;
        }
    }
}
.date-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .valid:hover{
        background-color: #eee;
    }
    li{
        transition: all ease .1s;
        cursor: pointer;
        box-sizing: border-box;
        border-bottom: 1px solid #fff;
        position: relative;
        margin: 2px;
        &:not(.firstItem){
            margin-left: 10px;
        }
        .message{
            font-family: Roboto, sans-serif;
            font-weight: 300;
            font-size: 14px;
            position: relative;
            height: 30px;
            &.selected{
                .bg{
                    // background-color: rgb(0, 151, 167);
                    background-color: $themecolor;
                }
                span{
                    color: #fff;
                }
            }
            &:not(.selected){
                .bg{
                    transform: scale(0);
                    opacity: 0;
                }
                &:hover{
                    .bg{
                        // background-color: rgb(0, 151, 167);
                        background-color: scale-lightness($themecolor, 20%);
                        transform: scale(1);
                        opacity: .6;
                    }
                    span{
                        color: #fff;
                    }
                }
            }
            .bg{
                height: 30px;
                width: 100%;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                border-radius: 50%;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
            }
            span{
                position: absolute;
                z-index: 20;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
        &.invalid{
            cursor: not-allowed;
            color: #ccc;
        }
    }

}
.weeks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li{
        font-weight: 600;
    }
}
.weeks, .date-list{
    width: 100%;
    text-align: center;
    .preMonth, .nextMonth{
        color: #ccc;
    }
    li{
        font-family: Roboto;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
}
.toggle-enter, .toggle-leave-active{
    opacity: 0;
    transform: translateY(-10px);
}
.toggle-enter-active, .toggle-leave-active{
    transition: all ease .2s;
}
// .fade-enter, .fade-leave-active{
//     opacity: 0;
//     transform: scale3d(0, 0, 0);
// }
// .fade-enter-active, .fade-leave-active{
//     transition: all ease .1s;
// }
